<!DOCTYPE html>
<html class="no-js" lang="en">
	<head>
		<title>E-Sangrahan</title>
		<meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <meta name="format-detection" content="telephone=no">
	    <meta name="apple-mobile-web-app-capable" content="yes">
	    <meta name="author" content="templatesjungle">
	    <meta name="keywords" content="plant shop">
	    <meta name="description" content="Free Plant Selling Website Template">

	    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='bootstrap.mi.css')}}" />
	    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='vendor.css')}}">
	    
	    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='style.css')}}">
	    <link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Arapey&display=swap" rel="stylesheet">
	</head>

<body>

<header id="header" class="fixed">
	<div id="header-wrap">
		<div class="main-logo">
			<h1>ESangrahan</h1>
		</div>

		<nav id="navbar">
			<div class="main-menu" id="navigation">
				<ul class="menu-list navbar-nav">
					<li class="menu-item"><a href="index.html" data-effect="Home" class="nav-link">Home</a></li>
					<li class="menu-item"><a href="#about" data-effect="about" class="nav-link">About</a></li>
					<li class="menu-item"><a href="{{ url_for('services') }}" data-effect="shop" class="shop">Services</a></li>

					<li class="menu-item">
						<a href="{{url_for('run_script')}}" data-effect="latest-blog" class="nav-link">E-Waste identifier</a>
					</li>
				</ul>
			</div>

			<div class="right-element icon-element">
				<div class="search-bar">
					<a href="#" class="search-button search-toggle" data-selector="#header-wrap">
						<i class="icon icon-search"></i>
					</a>
					<form role="search" method="get" class="search-box">
						<input class="search-field text search-input" placeholder="Search" type="search">
					</form>
				</div>

				<div class="user-account for-buy">
					<a href="#">
					<i class="icon icon-user"></i>
					</a>
				</div>

				<div class="like-bar for-buy">
					<a href="#">
						<i class="icon icon-like-button"></i>
						<i class="icon icon-liked-button"></i>	
					</a>
			    </div><!--like-bar-->

				<div class="cart for-buy">
					<a href="#">
					<i class="icon icon-account"></i>
					<span>0</span>
					</a>
				</div>

			</div><!--right-element-->

		</nav>

	</div><!--header-wrap-->
</header>

<section id="intro" class="scrollspy-section swiper intro-swiper">
	<div class="swiper-wrapper">

		<div class="swiper-slide">
			<div class="banner-content">
				<h2 class="banner-title">Welcome to <br> <span class="text-pri">E-Sangrahan</span>.</h2>
				<div class="btn-wrap">
					<a href="#" class="btn btn-black btn-xlarge btn-rounded">Learn More
					<i class="icon icon-arrow-right"></i>
					</a>
				</div>
			</div><!--banner-content--> 
			<img src="{{url_for('static',filename='main-banner.png')}}" alt="banner">
		</div><!--swiper-slide-->

		<div class="swiper-slide">
			<div class="banner-content">
				<h2 class="banner-title">Plants Create your place <span class="text-pri">special</span>.</h2>
				<div class="btn-wrap">
					<a href="#" class="btn btn-black btn-xlarge btn-rounded">Shop collection
					<i class="icon icon-arrow-right"></i>
					</a>
				</div>
			</div><!--banner-content--> 
			<img src="{{url_for('static',filename='main-banner2.png')}}" alt="banner">
		</div><!--swiper-slide-->	

		<div class="swiper-slide">
			<div class="banner-content">
				<h2 class="banner-title">Plants Create fresh and <span class="text-pri">comfort air.</span>.</h2>
				<div class="btn-wrap">
					<a href="#" class="btn btn-black btn-xlarge btn-rounded">Shop collection
					<i class="icon icon-arrow-right"></i>
					</a>
				</div>
			</div><!--banner-content--> 
			<img src="images/main-banner.png" alt="banner">
		</div><!--swiper-slide-->		

		<div class="swiper-slide">
			<div class="banner-content">
				<h2 class="banner-title">Plants Create your place <span class="text-pri">special</span>.</h2>
				<div class="btn-wrap">
					<a href="#" class="btn btn-black btn-xlarge btn-rounded">Shop collection
					<i class="icon icon-arrow-right"></i>
					</a>
				</div>
			</div><!--banner-content--> 
			<img src="images/main-banner2.png" alt="banner">
		</div><!--swiper-slide-->		

	</div><!--slider-->

      <div class="swiper-pagination"></div>	
</section>

<button id="scroll-up"><i class="icon icon-arrow-up"></i></button>
 
<section id="association" class="scrollspy-section bg-accent padding-large margin-xlarge">
	<div class="container">
		<div class="row">
			<div class="association-content">
				<img src="{{url_for('static',filename='association-logo1.png')}}" alt="association-logo">
				<img src="{{url_for('static',filename='association-logo2.png')}}" alt="association-logo">
				<img src="{{url_for('static',filename='association-logo3.png')}}" alt="association-logo">
				<img src="{{url_for('static',filename='association-logo4.png')}}" alt="association-logo">
				<img src="{{url_for('static',filename='association-logo5.png')}}" alt="association-logo">
			</div>
		</div>
	</div>
</section>

<section id="about" class="scrollspy-section margin-xlarge">
	<div class="container">
		<div class="row">
			<div class="col-md-6 video-content">
				<div class="video-player">
					<a id="video-item" href="javascript:void(0)">
						<i class="icon icon-youtube-player"></i>
						<img src="{{url_for('static',filename='recycle.png')}}" alt="phtou" class="video-image">
					</a>
				</div>
			</div><!--video-content--> 

			<div class="col-md-5 description">
				<div class="section-header">
					<h2 class="section-title">Our journey</h2>
				</div>

				<p>Welcome to E Sangrahan, a student-led effort dedicated to making a positive impact on our environment by responsibly managing electronic waste. Our journey started with a shared passion for sustainability and a desire to address the growing issue of e-waste disposal.
					As students and beginners in this field, we are committed to learning, growing, and working together to create a cleaner, greener future.</p>
				<p>Our mission is simple yet impactful: to responsibly collect, recycle, and dispose of electronic waste while spreading awareness about the importance of e-waste recycling.
					As beginners, we are eager to learn and adapt, continuously improving our practices to minimize the environmental impact of e-waste.
					
					In this mission, we not only spread awareness about electronic waste, but also let people know about there nearest e-waste center. This will help common people to dispose of these wastes and also earn some rewards in return. We also aim to add a home pickup facilities.</p>

				<div class="btn-wrap">
					<a href="#" class="btn btn-black btn-xlarge btn-rounded">Read More
					<i class="icon icon-arrow-right"></i></a>
				</div>

			</div>
		</div>

	</div>
</section>




<section id="why-us" class="scrollspy-section bg-accent padding-xlarge">
	<div class="container">
		<div class="row">
			<div class="col-md-6 left-column">
				<div class="section-header">
					<h2 class="section-title">Why Choose us?</h2>
				</div>
				<div class="expertize">
					<ul>
						<li>
							<span class="list-number">1.</span>
							<div class="list-title">
								<h4>Passion for Learning</h4>
								<p>I am a  students , but my enthusiasm to make a difference fuels. My commitment to gaining knowledge and expertise in e-waste recycling.</p>
							</div>
						</li>
						<li>
							<span class="list-number">2.</span>
							<div class="list-title">
								<h4>Community-First Approach</h4>
								<p>I believe in the power of community.My grassroots initiative aims to engage and educate</p>
							</div>
						</li>
						<li>
							<span class="list-number">3.</span>
							<div class="list-title">
								<h4>Hands-On Experience</h4>
								<p>My page offer a hands-on experience for individuals and businesses interested in participating in responsible e-waste disposal.</p>
							</div>
						</li>
					</ul>
				</div>
			</div>

			<div class="col-md-6 right-column">
				<figure class="single-image-holder">
					<img src="{{url_for('static',filename='post-item15.jpg')}}" alt="plant-image">
				</figure>
			</div>
		</div>
	</div>
</section>




<section id="testimonial" class="scrollspy-section margin-xlarge">
	<div class="container">
		<div class="row">

			<div class="col-md-6">				
				<figure class="testimonial-image">
					<img src="images/review-image.png" alt="review">
				</figure>				
			</div>

			<div class="col-md-6">
				<div class="swiper testimonial-slider">
      				<div class="swiper-wrapper">

						<div class="testimonial-item swiper-slide">
							<div class="testimonials-inner">
								<q>Do not throw your electronic waste
									For them a bin is not a right place
									Be a part of solution
									Not of pollution……!</q>
								<div class="testimonial-author">
									<div class="author-detail">
										<div class="name">Simpath Edison</div>
										<div class="author-title">By Customer</div>
									</div>
								</div>
							</div>
						</div>

						<div class="testimonial-item swiper-slide">
							<div class="testimonials-inner">
								<q>At the core of our practice is the idea that cities are the incubators of our greatest achievements, and the best hope for a sustainable future.</q>
								<div class="testimonial-author">
									<div class="author-detail">
										<div class="name">John Logan</div>
										<div class="author-title">By Customer</div>
									</div>
								</div>
							</div>
						</div><!--testimonial-item-->

						<div class="testimonial-item swiper-slide">
							<div class="testimonials-inner">
								<q>Our practice is the idea that cities are the incubators of our greatest achievements, and the best hope for a sustainable future.</q>
								<div class="testimonial-author">
									<div class="author-detail">
										<div class="name">Mike Smith</div>
										<div class="author-title">By Customer</div>
									</div>
								</div>
							</div>
						</div><!--testimonial-item-->

					</div>

					<div class="button-container">
						<div class="swiper-button-prev icon icon-arrow-left"></div>
	      				<div class="swiper-button-next icon icon-arrow-right"></div>
      				</div>

				</div>
			</div>

		</div>
	</div>
</section>


<footer id="footer" class="bg-accent padding-xlarge">
	<div class="container">
		<div class="row">
			
			<div class="col-md-3 footer-intro">				
				<div class="footer-menu">
					<h1>E-Sangarahn</h1>
					<p>Let's create a habbit of recycling and create a peacefull world</p>

					<div class="form-content">						
						<form>
							<input type="text" name="email" placeholder="enter your email address">
							<button class="btn btn-black">Subscribe</button>
						</form>
					</div>					
				</div>
			</div>

			<div class="col-md-2">
				<div class="footer-menu">
					<h5>Company</h5>
					<ul class="menu-list">
						<li class="menu-item">
							<a href="#">About</a>
						</li>
						<li class="menu-item">
							<a href="#">Our vision</a>
						</li>
	
						<li class="menu-item">
							<a href="#">Refer a friend</a>
						</li>
					</ul>
				</div>
			</div>

			<div class="col-md-2">
				<div class="footer-menu">
					<h5>Support</h5>
					<ul class="menu-list">
						<li class="menu-item">
							<a href="#">Customer FAQs</a>
						</li>
						<li class="menu-item">
							<a href="#">Shipping & Returns</a>
						</li>
						<li class="menu-item">
							<a href="#">Contact Us</a>
						</li>

						<li class="menu-item">
							<a href="#">Privacy Policy</a>
						</li>
					</ul>
				</div>
			</div>

			<div class="col-md-3">
				<div class="footer-menu">
					<h5>Contact Us</h5>
					<ul class="menu-list">
						<li class="menu-item">
							Amrita School of Engineering
						</li>
						<li class="menu-item">
							+91 9019083060
						</li>
						<li class="menu-item">
							<a href="#" class="mail-id">Farewell31723@gmail.com</a>
						</li>
					</ul>
				</div>
			</div>

		</div>
	</div>
</footer>
<script src="{{url_for('static',filename='jquey-3.2.1.min.js')}}"></script>
<script src="{{url_for('static',filename='bootstap.bundle.min.js')}}"></script>
<script src="{{url_for('static',filename='plugins.js')}}"></script>

<script src="{{url_for('static',filename='.js')}}"></script>
<script src="{{url_for('static',filename='videopopup.js')}}"></script>
<script src="{{url_for('static',filename='script.js')}}"></script>

<script>
	var scrollToTopBtn = document.getElementById("scroll-up");
	var rootElement = document.documentElement;

	function scrollToTop() {
		// Scroll to top logic
		rootElement.scrollTo({
			top: 0,
			behavior: "smooth"
		});
	}
	scrollToTopBtn.addEventListener("click", scrollToTop);
</script>
</body>
</html>	