<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Thanks for using us</title>
  <link rel="stylesheet" href="{{url_for('static',filename='redirect.css')}}">
</head>
<body>
  <div id="container">
    <div class="form-wrap">
        <h1>Thank you for using us!!</h1>
        <p class="bottom-text">
          By clicking the Redirect button you will be be redirected to our home page.
        </p>
        <a href="{{url_for('index2')}}">Redirect</a>
      </form>
    </div>

  </div>
</body>
</html>